html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.bg_img {
    background-image: url(../images/party2-slider-bg.jpg);
    width: 100%;
    height: 100%;
    background-position: 15%;
}

.top_bar_1 {
    width: 60%;
    margin: auto;
    overflow: auto;
}

.menu {}

.menu_1 {

    float: left;
    padding: 30px 0px;
}

.menu_5 {}

a {
    text-decoration: none;
    display: inline-block;
}

.text {
    font-family: Barlow, Arial, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 60px;
    font-weight: 600;
    color: white;
    padding: 0px 20px;

}

.text_5 {
    color: #e0d8ef;
}

.menu_2 {
    position: absolute;
    padding: 6px 0px;
    left: 48%;
    top: 0;
}

.ratina {
    height: 65px;
    line-height: 60px;
    padding: 40px 0px;
}

.menu_3 {
    float: left;
    padding: 30px 0px;
}

.menu_5 {
    float: right;
}

.text_1 {
    color: #e6447d;
}

.top_bar {
    width: 55%;
    margin: auto;
    overflow: auto;
}

.top_bar_3 {
    padding-left: 211px;
}

.center_img {
    float: left;
    padding: 0px;
    width: 23.45%;
    margin-right: 141px;
    margin-left: -132px;
}

.text_2 {
    padding-top: 50px;
    padding-bottom: 35px;
    font-size: 43px;
    line-height: 45px;
    font-weight: 400;
    font-family:
        "DM Serif Display";
    color: #ffffff;
    text-align: center;
    margin: 0px;
}

.text_14 {
    font-size: 50px;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}

.buton {
    text-align: center;
}

.button {
    background-color: rgb(230, 68, 125);
    height: 40px;
    width: 130px;
    margin: 10px;
    border-radius: 30px;
}

.button_1 {}

.text_3 {
    color: #ffffff;
    font-size: 13px;
    line-height: 38px;
    font-family: Barlow;
    text-align: center;
    font-weight: 500;
}

.text_15 {
    font-size: 16px;
    padding: 5px;
}

.button_2 {
    background-color: rgb(101, 46, 121);
}

.section {
    background-image: url(../images/party2-sectionbg2.jpg);
    width: 100%;
    background-size: cover;
}

.section_1 {
    width: 60%;
    margin: auto;
    overflow: auto;
}

.img {
    width: 50%;
    float: left;
    padding: 70px 0px;
}

.img_4 {
    width: 50%;
    float: left;
    padding: 0 0 0 2%;
}

.img_1 {
    width: 440px;
}

.paragraph {
    width: 50%;
    float: left;
}

.paragraph_3 {
    width: 50%;
    float: left;
}

.paragraph_1 {
    padding: 0 0 0 12%;
}

.paragraph_4 {}

.us {
    padding: 70px 0px;
}

.about {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #4bd3d4;
    font-family: Barlow, Arial, Tahoma, sans-serif;
    font-size: 13px;
    margin: 0px 0px 15px;
}

.text_6 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 0px 0px 20px;
    font-family: "DM Serif Display", Arial, Tahoma, sans-serif;
    color: #ffffff;
    font-weight: 400
}

.text_7 {
    color: #e6447d;
}

.text_8 {
    color: #897db3;
    font-family: Barlow, Arial, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 28px;
    margin: 0px 0px 15px;
}

.text_11 {
    margin: 0px 0px 45px;
}

.img_2 {
    overflow: auto;
}

.img_3 {
    background-image: url(../images/party2-list-1\ \(1\).png);
    background-repeat: no-repeat;
    padding: 15px;
    float: left;
}

.text_9 {
    float: left;
}

.top_bar_5 {
    width: 35%;
    margin: auto;
    overflow: auto;
}

.section_heading {
    color: #4bd3d4;
}

.day {
    width: 33.33%;
    float: left;
    height: 142px;
    overflow: auto;
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.day_1 {
    font-size: 90px;
    line-height: 90px;
    color: #e6447d;
    display: block;
    font-family: Barlow, Arial, Tahoma, sans-serif;
}

.day_2 {
    font-family:
        "DM Serif Display", Arial, Tahoma, sans-serif;
    font-size: 32px;
    line-height: 42px;
    color: #ffffff;
}

.button_3 {
    background-color: #ef4231;
    height: 40px;
    width: 140px;
    margin: 10px;
    border-radius: 6px;
}

.button_4 {
    width: 150px;
    height: 50px;
    margin: 24px;
}

.bg_img_2 {
    background-image: url(../images/party2-sectionbg3.jpg);
    width: 100%;
    background-size: cover;
    padding-bottom: 120px;
}

.bg_img_1 {
    width: 70%;
    margin: auto;
    overflow: auto;
}

.container {
    padding: 130px 0px;
}

.container_heading {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #4bd3d4;
    text-align: center;
    margin: 10px 0px;
    font-family: "Barlow", Arial, Tahoma, sans-serif;
}

.text_10 {
    padding: 0px;
}

.card {
    width: 33.33%;
    float: left;
}

.container_1 {
    background-color: #150e2d;
    padding: 45px 13%;
    margin: 15px;
    border-radius: 40px 0 40px 0;
}

.cont_image {
    width: 227px;
    margin-top: -100px;
}

.container_heading_1 {
    color: #4bd3d4;
    text-align: center;
    font-size: 32px;
    line-height: 42px;
    margin-top: 0px;
    font-weight: 400;
    letter-spacing: 0px;
    padding-top: 35px;
    font-family: "DM Serif Display", Arial, Tahoma, sans-serif;
    margin-bottom: 15px;
}

.text_12 {
    text-align: center;
    margin: 0 auto 35px;
}

.container_paragraph {
    color: #ffffff;
    margin: 0px;
    font-family: Barlow, Arial, Tahoma, sans-serif;
}

.text_13 {
    margin-top: 20px;
}

.container_bg_4 {
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: #0c071d;

}

.container_bg {
    width: 70%;
    margin: auto;
    overflow: auto;
}

.container_card_1 {
    width: 33.33%;
    float: left;
    padding: 50px;
    text-align: center;
}

.container_card_2 {
    width: 33.33%;
    float: left;
    padding: 20px;
    text-align: center;
}

.container_card_image {}

.container_head {}

.container_head_1 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: "DM Serif Display", Arial, Tahoma, sans-serif;
    color: #fff;
    margin-bottom: 15px;
}

.continer_section_para {
    color: #897db3;
    font-family: Barlow, Arial, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin: 0px 0px 15px;
}

.party_img {
    width: 506px;
}

.paragraph_2 {
    padding: 40px 0 0 15%;
}

.about_1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    font-family: "DM Serif Display", Arial, Tahoma, sans-serif;
    color: #ffffff;
}

.middle_section {
    position: relative;
}

.bg_img_5 {
    background-image: url(../images/party2-sectionbg5.jpg);
    background-size: cover;
    padding: 30px 0px 140px;
}

.container_5 {
    padding: 12px;
    padding-bottom: 140px;
}

.tex {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

.head_2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.con_2 {
    background-color: #231946;
}

.con_3 {
    background-color: #150e2d;
}

.container_text {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 33px;
}

.container_header {
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 30px;
    font-family: "DM Serif Display", Arial, Tahoma, sans-serif;
}

.top_bar_6 {
    width: 66%;
    padding-top: 65px;
}

.tempor {
    font-size: 50px;
}
.section_bg_img{
    background-color: #0c071d;
    width: 100%;
}

.section_margin{
    width: 80%;
    margin: auto;
    overflow: auto;
}
.section_background_img{
    background-image: url(../images/party2-columnbg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 10% 100px;
    border-radius: 100px 0 100px 0;
    text-align: center;
}
.color{
    color: #e6447d;
}
.button_5{
    width: 118px;
    height: 50px;
    margin:40px;
}